@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Much Checking Server Console</title>
</head>
<body>
<div>
    Console not implemented yet.
</div>
</body>
</html>